<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/main.css" rel="stylesheet"/>
  <link href="css/Home/Home.css" rel="stylesheet"/>
  <link href="css/Schedule/Schedule.css" rel="stylesheet"/>
  <link href="css/Apply/Apply.css" rel="stylesheet"/>
  <link href="css/Apply/Apply.css" rel="stylesheet"/>
</head>

<body>
 <style> body{opacity: 1;}</style>
  <div id="app"></div>

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/index.js"></script>
</body>
</html>
