#hero {
  width: 100%;
  background: #0f1c4d;
  background: linear-gradient(#080808, #000339ba, #080808), url('/img/retro-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-bg {
    margin: 0 auto;
    max-width: 1400px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    -ms-flex-pack: center;
        margin-top: 55px;
    min-height: 600px;
    .rbp-img {
      display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          z-index: 1;
          margin-left: -70px;
      img {
        width: 75%;
        max-width: 480px;
      }
    }

    .rbp-img2 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 1;
      margin-right: 20px;

      h2 {
        font-size: 2.5rem;
        color: white;
        font-weight: 700;
        letter-spacing: 0.2rem;
        text-align: center;

        span {
          font-size: 3.5rem;
          letter-spacing: 0;
        }
      }
    }
    .vid-wrapper{
      position: absolute;
      width: 32%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      overflow: hidden;
      animation: fade-in 1s ease-in 2s forwards;
          .vid{
            width: 190%;
            left: -50%;
            position: relative;
          }
    }
  }
}


@media screen and (max-width: 1199px) {
  #hero{
    .hero-bg{
      justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
      .rbp-img{
        margin-left: 0;
      }
      .rbp-img2{
        justify-content: center;
            margin: 0 20px;
            padding-bottom: 20px;
        h2{
          font-size: 2rem;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width:  767px) {
  #hero{
    min-height: calc(100vh);
  display: flex;
    .hero-bg{
      flex-wrap: nowrap;
      flex-direction: column;
      .rbp-img{
      }
      .rbp-img2{
        h2{
          font-size: 1.5rem;
          span{
              font-size: 2.5rem;
          }
        }
      }
    }
  }
}
@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: .3;
  }
}
